.top{
    color:white;
    background-color: black;
    text-align: center;
    top:-10px;
    text-transform: uppercase;
}
.link{
    color:darkolivegreen;
    
    
}
#nav{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    padding: 10px;
    
}
.fl{
    position:absolute;
    left:750px;
    width:1100px;
    top:120px;
    font-size: 40px;
   
    }
    .pic{
        position: relative;
        width:600px;
    }
.boy{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size:25px;
}
.h{
    font-size: 32px;
}
.footer{
    text-align: center;
}
.icon{
    position: relative;
    float:right;
    right:30px;
    letter-spacing: 3px;
}
.fa {
  text-decoration: none;
  color:black;
}

.fa:hover {
  opacity: 0.7;
}

